[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v14.15.4/bin/node /home/ubuntu/global/alerts/dist/lib/alerts/alerts.js
Restart=always
# User=ubuntu
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
# Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/global/indexer

[Install]
WantedBy=multi-user.target
