[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v14.15.4/bin/node /home/ubuntu/attestation-suite/coston2/backend/dist/lib/webserver/server.js
Restart=always
# User=ubuntu
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
# Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/attestation-suite/coston2/backend

[Install]
WantedBy=multi-user.target
