[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v14.15.4/bin/node /home/ubuntu/coston/spammer/dist/lib/spammer/attestation-spammer.js -c XRP
Restart=always
# User=ubuntu
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
# Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/coston/spammer

[Install]
WantedBy=multi-user.target
