[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v16.17.1/bin/node /home/ubuntu/attestation-suite/attestation-client/dist/lib/webserver/server.js
Restart=always
# User=ubuntu
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
# Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=CONFIG_PATH=../../attestation-suite-config/prepared/songbird
Environment=LOG_PATH=./logs/songbird

WorkingDirectory=/home/ubuntu/attestation-suite/attestation-client

[Install]
WantedBy=multi-user.target
