# Verification system

In order to use or introduce new attestation types, a type needs to be well defined and approved by the attestation type community on the [State Connector attestation type repo](https://github.com/flare-foundation/state-connector-attestation-types). Once a definition is approved, the procedures for implementing it into the attestation client code can start. When implemented, attestation providers start supporting new attestations from the certain voting round on, agreed on by the attestation provider community.

To support easier implementation of the new attestation types the Attestation Client Suite includes [code generation utilities](./code-generation.md) which help in including new and updating existing attestation types in a standardized manner.

Next: [Code generation](./code-generation.md)

[Back to home](../README.md)
